deb http://cdn.debian.net/debian/ wheezy main
deb http://security.debian.org/ wheezy/updates main
deb http://cdn.debian.net/debian/ wheezy-updates main
deb http://repos.blackflags.co.uk/debian/ wheezy main
deb http://apt.newrelic.com/debian/ newrelic non-free
deb http://nginx.org/packages/mainline/debian/ wheezy nginx